
<div class="container">
  <div class="card-panel">
      <%= form_for @event, url: '/create_new_event' do |f| %>
       <div class="form-group">
         <%= f.label :summary %>
         <%= f.text_field :summary,placeholder: "Enter event's title", autofocus: true %>
       </div>
      <div class="form-group">
        <%= f.label :description %>
        <%= f.text_field :description,placeholder: "Enter your description", autofocus: true %>
      </div>
      <div class="form-group">
        <%= f.label :start_date %>
        <%= f.date_field :start_date,placeholder: "Enter start date", autofocus: true %>
      </div>
      <div class="form-group">
        <%= f.label :end_date %>
        <%= f.date_field :end_date,placeholder: "Enter end date", autofocus: true %>
      </div>

      <% f.hidden_field :cid, value: @cal %>

      <div class="center-align">
        <%=f.submit "Submit" %>
      </div>

    <%end %>
  </div>

</div>